# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
test-results
playwright-report

# next.js
.next/
out/
.build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local files
.env
_*.ts
fly/logs

# turbo
.turbo

# IDE
/.idea

playground*
.vercel/project.json
.vercel/README.txt
fly/photon/photon-data
apps/server/types/app.js

# chromedriver
apps/scheduler/chrome

# extension
apps/extension/dist
